<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Turawet Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://www.turawetproject.org/beekeeper/css/index.css" type="text/css" />
</head>
    <body>
			<div class="main">
				<h1 class="title"> Turawet Project</h1>
	            <p><a href="http://www.turawetproject.org"><img src="http://www.turawetproject.org/beekeeper/images/turawet_logo.png"/></a></p>
	            <h3><em>Comming soon</em></h3>
            </div>

    </body>
</html>

