{% extends "base.html" %}
{% block title %}Formularios{% endblock %}
{% block dislpayedInfo %}

			{% if instance %}
				<h1>Instancia: {{ instance.id }}</h1>
				<h2>Del formulario: {{ instance.form.name }}</h2>


				{% for section in sections %}
					 <ul id="s0" class="section" href="#s0">
					   <p class="sectionlabel">{{ section.name }}</p>
					   {% for field in instance_fields %}
	                       <li class="text"><p class="fieldlabel">{{ field.label }}</p><br></li>
					   {% endfor %}
					</ul>
				{% endfor %}


				<br/>
			{% else %}
				<h3>No se ha encontrado la instancia en la base de datos.</h3>
			{% endif %}

{% endblock %}

{% block options %}
		    <ul>
				<li><a class="item" href="#" id="campo1">
					<img src="../../templates/images/delete.png" />
					<div class="label">
						<p><strong>Eliminar formulario</strong></p>
					</div>
				</a></li>
				<li><a class="item" href="#" id="campo4">
					<img src="../../templates/images/geolocalization.png" />
					<div class="label">
						<p><strong>Geolocalizaci&oacute;n</strong></p>
					</div>
				</a></li>			
			</ul>
{% endblock %}