{% comment %}
Esquema basico de la web.
Project: Seed::Modeler
Author: Francisco Jose Cabrera Hernandez,
        Nicolas Pernas Maradei,
        Romen Rodriguez Gil
{% endcomment %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Turawet Administrador: | {% block title %}{% endblock %}</title>
	<link rel="icon" href="http://www.turawetproject.org/beekeeper/images/turawet_favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://www.turawetproject.org/beekeeper/images/turawet_favicon.ico" type="image/x-icon"> 
	<link rel="stylesheet" href="http://www.turawetproject.org/beekeeper/css/default.css" />
	<!-- No consigo poner rutas absoultas y que funcion en ver_formulario el CSS -->
</head>
<body>
    <div id="containt">
        <div id="form">
            {% block mainframe %}
            {% endblock %}
        </div>
        
        <div id="resultado">
            <img class="delete" src="/beekeeper/images/buttons/delete.png" onClick="hideResults()"/>
            {% block result %}
            {% endblock %}
        </div>
        
        <div id="sections">
            {% block sectionslinks %}
            {% endblock %}
        </div>

        <div id="fieldsBar">
            {% block sidebar %}
            {% endblock %}
            <div class="buttons">
                {% block buttonssidebar %}
                {% endblock %}
            </div>  
        </div>      
        <a href="http://www.turawetproject.org"><img src="/beekeeper/images/tw_beekeeper_logo.png" id="minilogo"/></a>
    </div>
    <script src="/beekeeper/js/lib/jquery.min.js"></script>
    <script src="/beekeeper/js/hide_results.js"></script>
    <script src="/beekeeper/js/expand_field.js"></script>
    <script src="/beekeeper/js/select_section.js"></script>
    <script src="/beekeeper/js/fieldlabels.js"></script>
    {% block extrajs %}
    {% comment %}
        Librerías externas Javascript (JQuery y plugins)
        
        Falta crear la carpeta JS y añadirla al settings y al beekeeper.urls
    {% endcomment %}
    {% endblock %}
</body>
</html>