{% extends "base.html" %}
{% block title %}Formularios{% endblock %}
{% block dislpayedInfo %}

			{% if forms %}
				<h1>Formularios</h1>
				<h2>Lista de formularios</h2>
				<table id="form{{ forloop.counter0 }}" border="1px" style="width: 60%; ">
				<thead>
					<td><span class="form">ID</span></td>
					<td><span class="form">Nombre</span></td>
					<td><span class="form">Version</span></td>
				</thead>
				<tbody>
				{% for form in forms %}
					<tr>
						<td>
							<span class="form">{{ form.id }}</span>
						</td>
						<td>
							<a href="show_form/{{ form.id }}"><span class="form">{{ form.name }}</span></a>
						</td>
						<td>
							<span class="form">{{ form.version }}</span>
						</td>
					</tr>
				{% endfor %}
				</tbody>
					<tfoot></tfoot>
				</table>
				<br/>
			{% else %}
				<h3>No se ha encontrado ning&uacute;n formulario en la base de datos.</h3>
			{% endif %}

{% endblock %}
