{% extends "base.html" %}
{% block title %}Formularios{% endblock %}
{% block mainframe %}

			{% if forms %}
				<h1>Formularios</h1>
				<h2>Lista de formularios</h2>
				<table id="formstable">
				<thead>
					<td><span class="tableelement">ID</span></td>
					<td><span class="tableelement">Nombre</span></td>
					<td><span class="tableelement">Version</span></td>
					<td><span class="tableelement">Acciones</span></td>
				</thead>
				<tbody>
				{% for form in forms %}
					<tr>
						<td>
							<span class="tableelement">{{ form.id }}</span>
						</td>
						<td>
							<a href="/beekeeper/show_form/{{ form.id }}"><span class="tableelement">{{ form.name }}</span></a>
						</td>
						<td>
							<span class="tableelement">{{ form.version }}</span>
						</td>
						<td>
							<a href="#"><span class="tableelement"><img class="delete" src="/beekeeper/images/buttons/delete.png" /></span></a>
							<a href="#"><span class="tableelement">Instancias</span></a>
							<a href="#"><span class="tableelement">Estad&iacute;sticas</span></a>
							<a href="#"><span class="tableelement">Geolocalizaciones</span></a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
					<tfoot></tfoot>
				</table>
				<br/>
			{% else %}
				<h3>No se ha encontrado ning&uacute;n formulario en la base de datos.</h3>
			{% endif %}

{% endblock %}
