{% extends "base.html" %}
{% block title %}Formularios{% endblock %}
{% block mainframe %}

			{% if instance %}
				<h1>Instancia: {{ instance.id }}</h1>
				<h2>{{ instance.form.name }}</h2>


				{% for section in instance.form.section_set.all %}
					 <ul id="s{{ section.id }}" class="section" href="#s{{ section.id }}">
					   <p class="sectionlabel">{{ section.name }}</p>
					   {% for form_field in section.formfield_set.all %}
					   		{% for instance_field in instance_fields %}
						   		{% if instance_field.form_field.id == form_field.id %}

			                       	<li id="f{{ instance_field.id }}" class="{{ form_field.type|lower }}">
										<div class="actions">
											<img src="/beekeeper/images/buttons/more.png" onclick="javascript:expandField('f{{ instance_field.id }}')" class="fieldButton">
										</div>
			                       		<p> <span class="fieldlabel">{{ form_field.label }}</span> : <span class="fieldvalue">{{ instance_field.cast }} </p>
			                       		<br />
		
				                       {% if form_field.property_set.all %}
											<div class="properties">
										   {% for property in form_field.property_set.all %}
												<p>{{ property.name }}: {{ property.value }}</p>		                       		
										   {% endfor %}
					                       	</div>
				                       {% endif %}
				                       {% if form_field.fieldoption_set.all %}
											<div class="options">
										   {% for option in form_field.fieldoption_set.all %}
												<p>{{ option.label }}: {{ option.value }}</p>		                       		
										   {% endfor %}
					                       	</div>
				                       {% endif %}

			                       </li>


		                       {% endif %}
	                       {% endfor %}
					   {% endfor %}
					</ul>
				{% endfor %}


				<br/>
			{% else %}
				<h3>No se ha encontrado el instanceulario en la base de datos.</h3>
			{% endif %}

{% endblock %}

{% block sidebar %}
		    <ul>
				<li><a class="item" href="/beekeeper/delete_instance/{{ instance.id }}" id="campo1">
					<img src="/beekeeper/images/delete.png" />
					<div class="label">
						<p><strong>Eliminar instanceulario</strong></p>
					</div>
				</a></li>
				<li><a class="item" href="#" id="campo4">
					<img src="/beekeeper/images/geolocalization.png" />
					<div class="label">
						<p><strong>Geolocalizaci&oacute;n</strong></p>
					</div>
				</a></li>			
			</ul>
{% endblock %}


{% block sectionslinks %}
	<ul>
	{% for section in instance.form.section_set.all %}
		<li id="s{{ section.id }}link">
			<a href="#s{{ section.id }}" onclick="selectSection('s{{ section.id }}')">
				Sección {{ section.order }}
			</a>
		</li>
	{% endfor %}
	</ul>
	
{% endblock %}
