{% extends "base.html" %}
{% block title %}Formularios{% endblock %}
{% block mainframe %}

			{% if form %}
				<h1>Formulario: {{ form.id }}</h1>
				<h2>{{ form.name }}</h2>


				{% for section in form.section_set.all %}
					 <ul id="s{{ section.id }}" class="section" href="#s{{ section.id }}">
					   <p class="sectionlabel">{{ section.name }}</p>
					   {% for field in section.formfield_set.all %}
	                       <li id="f{{ field.id }}" class="{{ field.type|lower }}">
								<div class="actions">
									{% if field.required %}
										<img src="/beekeeper/images/buttons/required.png" class="fieldButton">
									{% endif %}
									<img src="/beekeeper/images/buttons/more.png" onclick="javascript:expandField('f{{ field.id }}')" class="fieldButton">
								</div>
	                       		<p class="fieldlabel">{{ field.label }}</p>
	                       		<br />
		                       {% if field.property_set.all %}
									<div class="properties">
								   {% for property in field.property_set.all %}
										<p>{{ property.name }}: {{ property.value }}</p>		                       		
								   {% endfor %}
			                       	</div>
		                       {% endif %}
		                       {% if field.fieldoption_set.all %}
									<div class="options">
								   {% for option in field.fieldoption_set.all %}
										<p>{{ option.label }}: {{ option.value }}</p>		                       		
								   {% endfor %}
			                       	</div>
		                       {% endif %}
	                       </li>
					   {% endfor %}
					</ul>
				{% endfor %}


				<br/>
			{% else %}
				<h3>No se ha encontrado el formulario en la base de datos.</h3>
			{% endif %}

{% endblock %}

{% block sidebar %}
		    <ul>
				<li><a class="item" href="/beekeeper/delete_form/{{ form.id }}" id="campo1">
					<img src="/beekeeper/images/delete.png" />
					<span class="label">
						<p><strong>Eliminar formulario</strong></p>
					</span>
				</a></li>
				<li><a class="item" href="/beekeeper/show_instance_list/{{ form.id }}" id="campo2">
					<img src="/beekeeper/images/instances.png" />
					<span class="label">
						<p><strong>Instancias</strong></p>
					</span>
				</a></li>
				<li><a class="item" href="#" id="campo3">
					<img src="/beekeeper/images/statistics.png" />
					<span class="label">
						<p><strong>Estad&iacute;sticas</strong></p>
					</span>
				</a></li>
				<li><a class="item" href="#" id="campo4">
					<img src="/beekeeper/images/geolocalization.png" />
					<span class="label">
						<p><strong>Geolocalizaci&oacute;n</strong></p>
					</span>
				</a></li>			
			</ul>
{% endblock %}


{% block sectionslinks %}
	<ul>
	{% for section in form.section_set.all %}
		<li id="s{{ section.id }}link">
			<a href="#s{{ section.id }}" onclick="selectSection('s{{ section.id }}')">
				Sección {{ section.id }}
			</a>
		</li>
	{% endfor %}
	</ul>
	
{% endblock %}
