/* Generales */
html {
	height:100%;
}
body {
    text-align: center;
	/*background: #ececec;*/
	/*background: #FFE9D6;*/
	background: #2F2C29;
	margin:0px auto;
	padding:0px;
	font: 13px/1.5 helvetica, arial, san-serif;
	height: 100%;
}
h1, h2 { text-align:center; }
h2 {
	position:absolute;
	font: 13px/1.5 helvetica, arial, san-serif;
	top: 15px;
	right: 115px;
	color:#fff;
	text-shadow:0 0 10px rgba(0, 0, 0, 0.75);
	display:none;
}
p { margin:0; }

[draggable=true] {
	cursor: move;
}
/* ----------- */

/* Contenedor global */
#containt {
    position: relative;
    text-align: left;
	font: 13px/1.5 helvetica, arial, san-serif;
  	width:960px;
	padding:0;
    margin:0px auto;
    list-style:none;
    height: 100%;
}
/* ----------- */

/* FORMULARIO */
#form {
    float:left;
	/*background-color:#ccc;*/
	background-color:#B3AFAA;
    width:90%;
    height: 100%;
}
#form ul {
	padding:0;
    margin:10px 30px;
}
#form li {
	list-style:none;
	border-bottom:1px solid #494949;
	padding:5px;
}
#form .quantity {
	font-weight:bold;
	padding-right:10px;
	margin-right:10px;
	border-right:1px solid #494949;
	display:inline-block;
	width:15px;
	text-align:right;
}
/* ----------- */

/* CAMPOS */
#fields {
    float:right;
	width:10%;
    height: 100%;
    font: 10px/1.5 helvetica, arial, san-serif;
    padding:0;
    margin:0px auto;
    background-color: #F0EDEA;
}
#fields li {
	display:inline;
}
.item {
	display:block;
	float:right;
	width:80px;
	height:58px;
	margin:20px auto;
	border:0px solid #494949;
	text-align:center;
	text-decoration:none;
	color: #000;
	overflow:visible;
}
.item img {
	border:0;
	margin:4px auto;
	width:52px;
	height:52px;
}
.item div {
	text-align:center;
	background:rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.75);
	position:relative;
	bottom:36px;
	left:-80px;
	/*bottom:0px;*/
	/*vertical-align:bottom;*/
	color:#f3f3f3;
	padding:5px;
	display:none;
}

#minilogo {
    position:fixed;
    bottom:5px;
    left:10px;
}
/* ----------- */


/* BUTTONS */

.buttons {
    text-align:center;
    position:relative;
    /*bottom:20px;*/
    top:40px;
}
.buttons a, .buttons button{
    /*display:block;*/
    background-color:#787169;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    text-align:center;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    font: 16px/1.5 helvetica, arial, san-serif;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#F6FFED;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* REGULAR */

button.regular, .buttons a.regular{
    color:#336699;
}
.buttons a.regular:hover, button.regular:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a.regular:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}
