<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Demo Modelador</title>
	<link rel="stylesheet" href="css/default.css" />
</head>
<body>
<div id="containt">
	<div id="form">
		<h1>Formulario</h1>
		<ul><li>{{prueba}}</li></ul>
		<h2>Arrastra los campos al formulario</h2>
	</div>
	<form class="sendform" action="/modeler/" method="post" onsubmit="fillForm()">
			{% csrf_token %}
			<input type="hidden" name="fieldList" id="id_fieldList" />
			<input type="submit" value="Enviar" />
	</form>
    <ul id="fields">
		<li><a class="item" href="#" id="campo1" draggable="true">
			<img src="images/image1.png" />
			<div>
				<p><strong>CAMPO1</strong></p>
			</div>
		</a></li>
		<li><a class="item" href="#" id="campo2" draggable="true">
			<img src="images/image2.png" />
			<div>
				<p><strong>CAMPO2</strong></p>
			</div>
		</a></li>
		<li><a class="item" href="#" id="campo3" draggable="true">
			<img src="images/image3.png" />
			<div>
				<p><strong>CAMPO3</strong></p>
			</div>
		</a></li>
		<li><a class="item" href="#" id="campo4" draggable="true">
			<img src="images/image4.png" />
			<div>
				<p><strong>CAMPO4</strong></p>
			</div>
		</a></li>		
	</ul>
</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="https://github.com/guillaumebort/jquery-ndd/raw/master/jquery.ndd.js"></script>
	<script src="js/fillform.js"></script>
	<script src="js/dragdrop.js"></script>
	<script src="js/parseform.js"></script>
</body>
</html>