{% extends "base.html" %}

{% block title %}Turawet::Seed - Web Modeler{% endblock %}

{% block mainframe %}
	
	<h1 class="formname">Formulario</h1>
	<p id="labelgeo"><input type="checkbox" id="geolocalization"> Geolocalizado</p>
	<h2>Arrastra los campos al formulario</h2>
	<ul id="s0" class="section" href="#s0">
	  <p class="sectionlabel">Nombre de la secci&oacute;n 0</p>
	  <!--<li class="toEnd">
	      <p id="toEndText">Arrastra aqu&iacute; para a&ntilde;adir al final</p>
	  </li>-->
	</ul>
{% endblock %}
		
{% block serviceresult %}
    {% if wsresponse %}
      <!--<p class="prueba">Enviado:<br/>{{prueba}}</p>-->
      <p class="prueba">Formulario Guardado!</p>
    {% else %}
      <p class="prueba">Enviado:<br/>{{prueba}}</p>
      <p class="pruebaerror">{{errormessage}}</p>
    {% endif %}
{% endblock %}
		
{% block sectionslinks %}
    <ul>
        <li id="s0link"> <a href="#s0" onclick="selectSection(0)">Sección 0</a> </li>
    </ul>
{% endblock %}

{% block sidebar %}
    <ul>
		<li><a class="item" href="#" id="campo1" draggable="true">
		    <div class="type">text</div>
		    <div class="fieldtype">TEXT</div>
			<img src="images/fields/tw_icon_text.png" />
			<div class="label">
				<p><strong>Campo de texto</strong></p>
			</div>
		</a></li>
		<li><a class="item" href="#" id="campo2" draggable="true">
		    <div class="type">image</div>
		    <div class="fieldtype">IMAGE</div>
			<img src="images/fields/tw_icon_image.png" />
			<div class="label">
				<p><strong>Imagen</strong></p>
			</div>
		</a></li>
		<li><a class="item" href="#" id="campo3" draggable="true">
            <div class="type">radio</div>
            <div class="fieldtype">RADIO</div>
            <img src="images/fields/tw_icon_radio.png" />
            <div class="label">
                <p><strong>Radio Button</strong></p>
            </div>
        </a></li>
        <li><a class="item" href="#" id="campo4" draggable="true">
            <div class="type">date</div>
            <div class="fieldtype">DATE</div>
            <img src="images/fields/tw_icon_date.png" />
            <div class="label">
                <p><strong>Fecha</strong></p>
            </div>
        </a></li>
        <!-- <li><a class="item" href="#" id="campo6" draggable="true">
            <div class="type">location</div>
            <div class="fieldtype">LOCATION</div>
            <img src="images/base-button.png" />
            <div class="label">
                <p><strong>Geolocalización</strong></p>
            </div>
        </a></li> -->
        <li><a class="item" href="#" id="campo5" draggable="true">
            <div class="type">numeric</div>
            <div class="fieldtype">NUMERIC</div>
            <img src="images/fields/tw_icon_numeric.png" />
            <div class="label">
                <p><strong>Num&eacute;rico</strong></p>
            </div>
        </a></li>
        <!--<li><a class="item" href="#" id="campo7" draggable="true">
            <div class="type">textarea</div>
            <div class="fieldtype">TEXTAREA</div>
            <img src="images/base-button.png" />
            <div class="label">
                <p><strong>Área de texto</strong></p>
            </div>
        </a></li>-->
        <!--<li><a class="item" href="#" id="campo8" draggable="true">
            <div class="type">checkbox</div>
            <div class="fieldtype">CHECKBOX</div>
            <img src="images/base-button.png" />
            <div class="label">
                <p><strong>Checkbox</strong></p>
            </div>
        </a></li>
        <li><a class="item" href="#" id="campo9" draggable="true">
            <div class="type">combo</div>
            <div class="fieldtype">COMBO</div>
            <img src="images/base-button.png" />
            <div class="label">
                <p><strong>Combo</strong></p>
            </div>
        </a></li> -->  	
	</ul>
{% endblock %}

{% block buttonssidebar %}
	<a onclick="addSection(); return false" class="button white">
	    Nueva Secci&oacute;n
	</a>
    <br/>
    <form class="sendform" action="/modeler/" method="post">
        {% csrf_token %}
        <input type="hidden" name="fieldList" id="id_fieldList" />
        <!-- <button type="submit" name="sendButton" class="positive">-->
        <a class="button large green" onclick="fillForm(); this.parentNode.submit(); return false">
           Enviar
        </a>
        <!--<a class="button large red" onclick="showResults(); return false">
           <img src="images/bug.png"/>
        </a>-->
    </form>
{% endblock %}

{% block extrajs %}
	<!-- Debugging -->
	{% if prueba %}
	<script language="JavaScript">
            $("#resultado").toggle('slow');
    </script>
    {% endif %}
{% endblock %}
