/* SETUP */

body { margin:15; padding:25px 50px 75px 100px; background:#092e20; color:white; }
body, th, td { font:12px/1.4em Verdana,sans-serif; }

/* LINKS */

a {text-decoration: none;}
a img {border: none;}
a:link, a:visited { color:#ffc757; }
a:hover { color:#ffe761; }

/* CONTENT */

h1,h2,h3 { margin-top:.8em; font-family:"Trebuchet MS",sans-serif; font-weight:normal; }
h1 { font-size:218%; margin-top:.8em; margin-bottom:.2em; color:#4FBF4F; line-height:1.5em; }
h2 { font-size:150%; color:#99FF99; }
h3 { font-size:125%; font-weight:bold; color:#487858; }
p, ul, dl { margin-top:.6em; margin-bottom:.8em; }
hr { color:#ccc; background-color:#ccc; height:5px; border:0; }
/* LISTS */

ul { padding-left:2em; }
ol { padding-left:30px; }
ul li { list-style-type:square; margin-bottom:.4em; }
ul ul { padding-left:1.2em; }
ul ul ul { padding-left:1em; }

/* FORMS */
/*
form label { display: block; font-weight: bold; margin-top: 1.5em; margin-bottom: 0;}
form label span { font-weight: normal; color: #555; }
form input, 
form textarea, 
form select { width: 99%; padding: 1px; }
form p { margin: 0; }
form p.submit { text-align: right; margin-top: 1em; margin-right: 0;}
form p.submit input { width: 3em; font-size: 1.5em; }
form p.errors { margin: 0; padding: 0; font-weight: bold; color: red; }
*/

